body{
	color: white;
}


#playList_container{
	float: right;
	text-align: left;
	width: 300px;
	color:white;
}

#controller_container{
	text-align: center;
	margin-top: 5vh;
	margin-right: auto;
	margin-left: auto;
	padding-left: 150px;
}

li{
	list-style-type: none;
	text-align: left;
	padding: 2px;
	color: gray;
}

#youtube {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top:20px;
}

li:hover {
	color: white;
	cursor: pointer;
	cursor: hand;
}

input, button{
	background-color: black;
	color:white;
}

h1 {
	color: white;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

